.wg.wg-default-form {
  flex: 1 1 auto;
  font-size: 1em;
  margin: 0.2em;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.wg.wg-default-form > .wg.wg-content {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.wg.wg-default-form > .wg.wg-content > * {
  display: block;
  vertical-align: middle;
}
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > .btn-group > button,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > .btn-group > button,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > .btn-group > button,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > .btn-group > button,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > .btn-group > button,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > .btn-group > button {
  padding: 0em 0.5em 0em 0.5em;
  width: 100%;
  height: 2em;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > input > .glyphicon,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > input > .glyphicon,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > input > .glyphicon,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > input > .glyphicon,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > input > .glyphicon,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > input > .glyphicon,
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > textarea > .glyphicon,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > textarea > .glyphicon,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > textarea > .glyphicon,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > textarea > .glyphicon,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > textarea > .glyphicon,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > textarea > .glyphicon,
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > button > .glyphicon,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > button > .glyphicon,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > button > .glyphicon,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > button > .glyphicon,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > button > .glyphicon,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > button > .glyphicon,
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > .btn-group > button > .glyphicon,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > .btn-group > button > .glyphicon,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > .btn-group > button > .glyphicon,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > .btn-group > button > .glyphicon,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > .btn-group > button > .glyphicon,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > .btn-group > button > .glyphicon {
  min-height: 1em;
  line-height: 1em;
  vertical-align: baseline;
  font-size: 0.6em;
}
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > .btn-group,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > .btn-group,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > .btn-group,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > .btn-group,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > .btn-group,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > .btn-group {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > .btn-group > .dropdown-menu,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > .btn-group > .dropdown-menu,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > .btn-group > .dropdown-menu,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > .btn-group > .dropdown-menu,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > .btn-group > .dropdown-menu,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > .btn-group > .dropdown-menu {
  width: 100%;
}
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > input {
  border: 0.1em solid #66AFE9;
  height: 2em;
  border-radius: 0.20em;
}
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > button,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > button {
  border: 1px solid transparent;
  height: 2em;
  border-radius: 0.20em;
}
.wg.wg-default-form.wg-default-form-text > .wg.wg-content .btn-group > button,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content .btn-group > button,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content .btn-group > button,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content .btn-group > button,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content .btn-group > button,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content .btn-group > button {
  border: 1px solid transparent;
  height: 2em;
}
.wg.wg-default-form.wg-default-form-text > .wg.wg-content .btn-group > button:first-of-type,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content .btn-group > button:first-of-type,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content .btn-group > button:first-of-type,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content .btn-group > button:first-of-type,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content .btn-group > button:first-of-type,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content .btn-group > button:first-of-type {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}
.wg.wg-default-form.wg-default-form-text > .wg.wg-content .btn-group > button:last-of-type,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content .btn-group > button:last-of-type,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content .btn-group > button:last-of-type,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content .btn-group > button:last-of-type,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content .btn-group > button:last-of-type,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content .btn-group > button:last-of-type {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.wg.wg-default-form.wg-default-form-text > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-password > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-textarea > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-button > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-dropdown > .wg.wg-content > textarea,
.wg.wg-default-form.wg-default-form-group > .wg.wg-content > textarea {
  border: 0.1em solid #66AFE9;
  height: 4em;
  padding: 0.3em 0.5em;
  border-radius: 0.20em;
}
.wg.wg-default-form.wg-default-form-select > .wg.wg-content > select {
  border-radius: 0.20em;
  padding: 0em 1.5em 0em 0.5em;
  border: 0.1em solid #66AFE9;
  width: 100%;
  height: 2em;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  text-indent: 0px;
  text-overflow: '';
}
.wg.wg-default-form.wg-default-form-select > .wg.wg-content > select::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.wg.wg-default-form.wg-default-form-select > .wg.wg-content > select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.wg.wg-default-form.wg-default-form-select > .wg.wg-content > .wg.wg-content-overlay {
  position: absolute;
  top: 50%;
  right: 0.5em;
  pointer-events: none;
}
.wg.wg-default-form.wg-default-form-select > .wg.wg-content > .wg.wg-content-overlay > .glyphicon {
  font-size: 0.7em;
  margin-top: -50%;
  display: block;
  overflow: hidden;
}
.wg.wg-default-form.wg-default-form-checkbox > .wg.wg-content > input,
.wg.wg-default-form.wg-default-form-radio > .wg.wg-content > input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.wg.wg-default-form.wg-default-form-checkbox > .wg.wg-content > input:checked + label:after,
.wg.wg-default-form.wg-default-form-radio > .wg.wg-content > input:checked + label:after {
  opacity: 1;
}
.wg.wg-default-form.wg-default-form-checkbox > .wg.wg-content > label,
.wg.wg-default-form.wg-default-form-radio > .wg.wg-content > label {
  width: 2em;
  height: 2em;
  margin-bottom: 0px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: visible;
}
.wg.wg-default-form.wg-default-form-checkbox > .wg.wg-content > label:before,
.wg.wg-default-form.wg-default-form-radio > .wg.wg-content > label:before {
  position: relative;
  display: block;
  width: 1.5em;
  height: 1.5em;
  content: " ";
}
.wg.wg-default-form.wg-default-form-checkbox > .wg.wg-content > label {
  background-color: #2196f3;
  border-radius: 0.20em;
}
.wg.wg-default-form.wg-default-form-checkbox > .wg.wg-content > label:after {
  width: 35%;
  height: 60%;
  position: absolute;
  top: 10%;
  left: 35%;
  border: 0.2em solid #fff;
  border-top: 0;
  border-left: 0;
  opacity: 0;
  content: " ";
  border-color: rgba(255, 255, 255, 0.87);
  transform: rotate(45deg) scale3D(1, 1, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.wg.wg-default-form.wg-default-form-radio > .wg.wg-content > label {
  border: 0.25em solid #2196f3;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.wg.wg-default-form.wg-default-form-radio > .wg.wg-content > label:after {
  position: absolute;
  top: 18%;
  left: 18%;
  right: 18%;
  bottom: 18%;
  border-radius: 50%;
  opacity: 0;
  content: " ";
  background: #2196f3;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}
