.wg.wg-default-placeholder {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.wg.wg-default-placeholder .wg.wg-content {
  box-sizing: border-box;
}
.wg.wg-default-placeholder .wg.wg-content .wg.wg-table {
  display: table;
  width: 100%;
}
.wg.wg-default-placeholder .wg.wg-content .wg.wg-table .wg.wg-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.wg.wg-default-placeholder .wg.wg-content .wg.wg-table .wg.wg-cell:empty:after {
  content: "<Empty>";
}
