.wg.wg-default-stub {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  box-sizing: border-box;
  mix-blend-mode: normal;
  text-shadow: white 0px 0px 10px, white 0px 0px 15px, white 0px 0px 20px;
}
.wg.wg-default-stub > .wg.wg-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  margin: 1px 1px;
  border: 1px dashed rgba(52, 73, 94, 0.2);
  background: rgba(52, 73, 94, 0.1);
}
.wg.wg-default-stub > .wg.wg-content > .wg.wg-table {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1em;
  padding: 0.5em;
}
.wg.wg-default-stub > .wg.wg-content > .wg.wg-table > .wg.wg-cell {
  flex: 0 0 auto;
  text-align: center;
  color: #333333;
  font-weight: bold;
  font-size: 0.8em;
}
