.wg.wg-default-stub {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  box-sizing: border-box;
}
.wg.wg-default-stub > .wg.wg-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  margin: 1px 1px;
  border: 2px dashed rgba(52, 73, 94, 0.5);
  background: rgba(52, 73, 94, 0.3);
}
.wg.wg-default-stub > .wg.wg-content > .wg.wg-table {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1em;
  padding: 1em;
}
.wg.wg-default-stub > .wg.wg-content > .wg.wg-table > .wg.wg-cell {
  flex: 0 0 auto;
  text-align: center;
  color: rgba(52, 73, 94, 0.7);
  font-weight: bold;
  font-size: 0.8em;
}
