<template id="default-table">
    <default-box :bindings.sync="bindings" class="wg wg-widget wg-default-table">
        <table class="table table-striped" v-if="
               bindings.columns
            && bindings.columns.collection
            && bindings.columns.collection.length
        ">
            <thead>
                <tr>
                    <th v-for="column in bindings.columns.collection">{{ column.title }}</th>
                </tr>
            </thead>
            <tbody v-if="
                   bindings.rows
                && bindings.rows.collection
                && bindings.rows.collection.length
            ">
                <tr v-for="row in bindings.rows.collection">
                    <td v-for="column in bindings.columns.collection">{{ row | get(column.name) }}</td>
                </tr>
            </tbody>
        </table>
    </default-box>
</template>
