.wg.wg-default-stack {
  display: table;
  width: 100%;
}
.wg.wg-default-stack.wg-default-stack-canvas {
  position: relative;
  overflow: visible;
  margin: auto;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content > .wg.wg-sortable-inner {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item > .wg.wg-item-content {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item > .wg.wg-item-content > .wg.wg-inner {
  position: relative;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item.dragged {
  position: absolute;
  display: table;
  opacity: 0;
  z-index: 2000;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder > .wg.wg-placeholder-container {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder > .wg.wg-placeholder-container > .wg.wg-placeholder-inner {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder > .wg.wg-placeholder-container > .wg.wg-placeholder-inner:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: red;
  left: -5px;
  margin-top: -5px;
  border-right: none;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content > .wg.wg-sortable-inner {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item > .wg.wg-item-content {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item > .wg.wg-item-content > .wg.wg-inner {
  position: relative;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item.dragged {
  position: absolute;
  display: table;
  opacity: 0;
  z-index: 2000;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder > .wg.wg-placeholder-container {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder > .wg.wg-placeholder-container > .wg.wg-placeholder-inner {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder > .wg.wg-placeholder-container > .wg.wg-placeholder-inner:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: red;
  left: -5px;
  margin-top: -5px;
  border-right: none;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content > .wg.wg-sortable-inner {
  display: table;
  width: 100%;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container {
  display: flex;
  flex-wrap: wrap;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item {
  flex: 0 0 1px;
  vertical-align: top;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item > .wg.wg-item-content {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item > .wg.wg-item-content > .wg.wg-inner {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-item.dragged {
  position: absolute;
  display: table;
  opacity: 0;
  z-index: 2000;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder {
  display: table-cell;
  vertical-align: top;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder > .wg.wg-placeholder-container {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder > .wg.wg-placeholder-container > .wg.wg-placeholder-inner {
  position: relative;
  overflow: visible;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-sortable-content > .wg.wg-sortable-inner > .wg.wg-sortable-container > .wg.wg-sortable-placeholder > .wg.wg-placeholder-container > .wg.wg-placeholder-inner:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: red;
  top: -6px;
  margin-left: -5px;
  border-bottom: none;
}
.wg.wg-default-stack > .wg.wg-content > .wg.wg-table {
  width: 100%;
  display: table;
}
.wg.wg-default-stack > .wg.wg-content > .wg.wg-table:empty {
  border-spacing: 1px 1px;
}
.wg.wg-default-stack > .wg.wg-content > .wg.wg-table:empty::after {
  content: "Drop Here";
  display: table-cell;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  color: rgba(52, 73, 94, 0.7);
  border: 2px dashed rgba(52, 73, 94, 0.5);
  background: rgba(52, 73, 94, 0.2);
  font-weight: bold;
}
.wg.wg-default-stack > .wg.wg-content > .wg.wg-table > .wg.wg-row {
  display: table-row;
}
.wg.wg-default-stack > .wg.wg-content > .wg.wg-table > .wg.wg-row.dragged {
  position: absolute;
  display: table;
  opacity: 0;
  z-index: 2000;
}
.wg.wg-default-stack > .wg.wg-content > .wg.wg-table > .wg.wg-row > .wg.wg-cell {
  display: table-cell;
  vertical-align: top;
}
.wg.wg-default-stack > .wg.wg-content > .wg.wg-table > .wg.wg-row > .wg.wg-cell > .wg.wg-inner {
  position: relative;
}
.wg.wg-default-stack > .wg.wg-content > .wg.wg-table > .wg.wg-row > .wg.wg-cell.wg-cell-placeholder {
  text-align: center;
  vertical-align: middle;
  border-spacing: 1px 1px;
  color: rgba(52, 73, 94, 0.7);
  border: 2px dashed rgba(52, 73, 94, 0.5);
  background: rgba(52, 73, 94, 0.2);
  font-weight: bold;
}
.wg.wg-default-stack > .wg.wg-content > .wg.wg-table > .wg.wg-row > .wg.wg-cell.wg-cell-placeholder > .wg.wg-inner {
  display: block;
  margin: 1px 1px;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-content > .wg.wg-table > .wg.wg-row > .sortable-ghost {
  display: table-cell;
  width: auto;
  background: yellow;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-content > .wg.wg-table > .wg.wg-row > .sortable-ghost > img {
  opacity: 0;
}
.wg.wg-default-stack.wg-default-stack-horizontal > .wg.wg-content > .wg.wg-table > .wg.wg-row > .wg.wg-cell.wg-cell-placeholder {
  height: 50px;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-content > .wg.wg-table > .sortable-ghost,
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-content > .wg.wg-table > .sortable-ghost {
  display: table-row;
  width: auto;
  background: yellow;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-content > .wg.wg-table > .sortable-ghost > img,
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-content > .wg.wg-table > .sortable-ghost > img {
  opacity: 0;
}
.wg.wg-default-stack.wg-default-stack-canvas > .wg.wg-content > .wg.wg-table > .wg.wg-row > .wg.wg-cell.wg-cell-placeholder,
.wg.wg-default-stack.wg-default-stack-vertical > .wg.wg-content > .wg.wg-table > .wg.wg-row > .wg.wg-cell.wg-cell-placeholder {
  height: 50px;
  width: 50px;
}
.wg.wg-sortable-placeholder > .wg.wg-placeholder-container > .wg.wg-placeholder-inner {
  position: relative;
  overflow: visible;
}
.wg.wg-sortable-placeholder > .wg.wg-placeholder-container > .wg.wg-placeholder-inner:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
}
.wg.wg-sortable-container {
  box-sizing: border-box;
}
.wg.wg-sortable-container.active:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10000;
  outline: 1px solid red;
}
