.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table {
  display: table;
  width: 100%;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row {
  display: table-row;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row > .wg.wg-item-cell {
  display: table-cell;
  vertical-align: top;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row > .wg.wg-item-cell > .wg.wg-cell-content {
  display: table;
  width: 100%;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row > .wg.wg-item-cell > .wg.wg-cell-content.wg-dock-above > .wg.wg-content-drawing {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row > .wg.wg-item-cell > .wg.wg-cell-content.wg-dock-above > .wg.wg-content-description {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row > .wg.wg-item-cell > .wg.wg-cell-content.wg-dock-right > .wg.wg-content-drawing {
  display: table-cell;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row > .wg.wg-item-cell > .wg.wg-cell-content.wg-dock-right > .wg.wg-content-description {
  display: table-cell;
}
