// "out": "gallery.css"

.wg.wg-default-gallery {

    >.wg.wg-content {

        >.carousel {

            >.carousel-indicators {

            }

            >.carousel-inner {
                >.item {
                    >.wg.wg-item-table {
                        display: table;
                        >.wg.wg-item-row {
                            display: table-row;
                            >.wg.wg-item-cell {
                                display: table-cell;
                                vertical-align: top;
                                >.wg.wg-cell-content {
                                    display: table;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.wg.wg-default-gallery {

    >.wg.wg-content {

        >.carousel {

            >.carousel-indicators {

            }

            >.carousel-inner {
                >.item {
                    >.wg.wg-item-table {
                        display: table;
                        >.wg.wg-item-row {
                            display: table-row;
                            >.wg.wg-item-cell {
                                display: table-cell;
                                vertical-align: top;
                                >.wg.wg-cell-content {
                                    display: table;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
