<template id="default-gallery">
    <default-box :bindings.sync="bindings" class="wg wg-widget wg-default-gallery">

        <div id="{{ systemId }}-carousel" class="wg wg-carousel carousel slide" data-ride="carousel" v-if="bindings.items.collection"
            :class="{
                'wg-dock-above': !bindings.dock || bindings.dock == 'above',
                'wg-dock-top': bindings.dock == 'top',
                'wg-dock-right': bindings.dock == 'right',
                'wg-dock-bottom': bindings.dock == 'bottom',
                'wg-dock-left': bindings.dock == 'left',
            }"
        >

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div v-for="pd in matrix" class="item" :class="{ 'active' : !$index }">
                    <div class="wg wg-item-table" :style="{
                        'text-align': bindings.align,
                        'color': bindings.color,
                        'border-spacing': bindings.border.spacing,
                        'border-collapse': bindings.border.collapse,
                    }">
                        <div class="wg wg-item-row" v-for="rd in pd">
                            <div class="wg wg-item-cell" v-for="cd in rd">
                                <div class="wg wg-cell-content" v-if="cd"
                                    :style="{
                                        width: cd.width || bindings.items.style.width,
                                        height: cd.height || bindings.items.style.height,
                                        margin: cd.margin || bindings.items.style.margin,
                                        padding: cd.padding || bindings.items.style.padding,
                                        background: cd.background || bindings.items.style.background,
                                    }"
                                >
                                    <div class="wg wg-content-drawing" v-if="cd"
                                        :style="{
                                            'width': cd.drawing.width || bindings.items.style.drawing.width,
                                            'height': cd.drawing.height || bindings.items.style.drawing.height,
                                            'margin': cd.drawing.margin || bindings.items.style.drawing.margin,
                                            'padding': cd.drawing.padding || bindings.items.style.drawing.padding,
                                            'background': cd.drawing.background || bindings.items.style.drawing.background,
                                        }"
                                    >
                                    </div>
                                    <div class="wg wg-content-description" v-if="cd"
                                        :style="{
                                            'width': cd.description.width || bindings.items.style.description.width,
                                            'height': cd.description.height || bindings.items.style.description.height,
                                            'margin': cd.description.margin || bindings.items.style.description.margin,
                                            'padding': cd.description.padding || bindings.items.style.description.padding,
                                            'background': cd.description.background || bindings.items.style.description.background,
                                            'color': cd.description.color || bindings.items.style.description.color,
                                        }"
                                        v-html="cd.description.content"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators" v-if="matrix.length > 1">
                <li v-for="item in matrix" :data-target="systemId + '-carousel'" data-slide-to="{{ $index }}" :class="{ 'active' : !$index }"></li>
            </ol>

            <!-- Controls -->
            <!--
            <a v-if="matrix.length > 1" class="left carousel-control" href="#{{ systemId }}-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a v-if="matrix.length > 1" class="right carousel-control" href="#{{ systemId }}-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            -->

        </div>
    </default-box>
</template>
