<template id="default-gallery">
    <default-box :bindings.sync="bindings" :class="'wg wg-default-gallery'">
            <div v-if="bindings.items" id="{{ systemId }}" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol v-if="matrix.length > 1" class="carousel-indicators">
                    <li v-for="item in bindings.items" data-target="#{{ systemId }}" data-slide-to="{{ $index }}" :class="{ 'active' : !$index }"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div v-for="pd in matrix" class="item" :class="{ 'active' : !$index }" :style="{
                        'height': bindings.height,
                    }">
                        <div class="wg-default-gallery wg-default-gallery-table" :style="{
                            'border-spacing': bindings.borderSpacing,
                            'border-collapse': bindings.borderCollapse,
                        }">
                            <div v-for="rd in pd" class="wg-default-gallery wg-default-gallery-row">
                                <div v-for="cd in rd" class="wg-default-gallery wg-default-gallery-cell">
                                    <div v-if="cd" class="thumbnail wg-default-gallery wg-default-gallery-thumbnail" :style="{
                                        'background': cd.background,
                                        'background-size': cd.backgroundSize,
                                    }">
                                        <div class="wg-default-gallery wg-default-gallery-item" :style="{
                                            'background': cd.itemBackground,
                                            'background-size': cd.itemBackgroundSize,
                                            'width': bindings.itemWidth,
                                            'height': bindings.itemHeight,
                                        }">
                                        </div>
                                        <div v-if="cd.caption" class="caption wg-default-gallery wg-default-gallery-caption">
                                            {{{ cd.caption }}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a v-if="matrix.length > 1" class="left carousel-control" href="#{{ systemId }}" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a v-if="matrix.length > 1" class="right carousel-control" href="#{{ systemId }}" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </default-box>
</template>
