// "out": "gallery.css"

.wg.wg-default-gallery {

    >.wg.wg-content {

        >.carousel {

            >.carousel-indicators {

            }

            >.carousel-inner {

                >.item {

                    >.wg.wg-item-table {

                        display: table;
                        width: 100%;

                        >.wg.wg-item-row {

                            display: table-row;

                            >.wg.wg-item-cell {

                                display: table-cell;
                                vertical-align: top;

                                >.wg.wg-cell-content {

                                    display: table;
                                    width: 100%;

                                    &.wg-dock-above {

                                        >.wg.wg-content-drawing {
                                            position: absolute;
                                            display: block;
                                            top: 0px;
                                            left: 0px;
                                            right: 0px;
                                            bottom: 0px;
                                        }
                                        >.wg.wg-content-description {
                                            position: absolute;
                                            display: block;
                                            top: 0px;
                                            left: 0px;
                                            right: 0px;
                                            bottom: 0px;
                                        }
                                    }

                                    &.wg-dock-right {

                                        >.wg.wg-content-drawing {
                                            display: table-cell;
                                        }
                                        >.wg.wg-content-description {
                                            display: table-cell;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
