<template id="default-gallery">
    <default-box :bindings.sync="bindings" class="wg wg-widget wg-default-gallery">

        <div id="{{ systemId }}-carousel" class="carousel slide" data-ride="carousel" v-if="bindings.items.collection">

            <!-- Indicators -->
            <ol class="carousel-indicators" v-if="matrix.length > 1">
                <li v-for="item in bindings.items" data-target="#{{ systemId }}-carousel" data-slide-to="{{ $index }}" :class="{ 'active' : !$index }"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div v-for="pd in matrix" class="item" :class="{ 'active' : !$index }">
                    <div class="wg wg-item-table" :style="{
                        'border-spacing': bindings.border.spacing,
                        'border-collapse': bindings.border.collapse,
                    }">
                        <div class="wg wg-item-row" v-for="rd in pd">
                            <div class="wg wg-item-cell" v-for="cd in rd">
                                <div class="wg wg-cell-content" v-if="cd">
                                    <div class="wg wg-content-drawing" v-if="cd" :style="{
                                        'background': cd.background || bindings.items.style.background,
                                        'width': cd.width || bindings.items.style.width,
                                        'height': cd.height || bindings.items.style.height,
                                    }">
                                    </div>
                                    <div class="wg wg-content-description" v-if="cd.content" >{{{ cd.content }}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <!--
            <a v-if="matrix.length > 1" class="left carousel-control" href="#{{ systemId }}-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a v-if="matrix.length > 1" class="right carousel-control" href="#{{ systemId }}-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            -->

        </div>
    </default-box>
</template>
