.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table {
  display: table;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row {
  display: table-row;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row > .wg.wg-item-cell {
  display: table-cell;
  vertical-align: top;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row > .wg.wg-item-cell > .wg.wg-cell-content {
  display: table;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table {
  display: table;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row {
  display: table-row;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row > .wg.wg-item-cell {
  display: table-cell;
  vertical-align: top;
}
.wg.wg-default-gallery > .wg.wg-content > .carousel > .carousel-inner > .item > .wg.wg-item-table > .wg.wg-item-row > .wg.wg-item-cell > .wg.wg-cell-content {
  display: table;
}
