<template id="default-h1-h6">
    <default-box :bindings.sync="bindings" :class="'wg wg-default-h1-h6'">
        <h1 v-if="bindings.stereotype == 'h1'">{{ bindings.content }}</h1>
        <h2 v-if="bindings.stereotype == 'h2'">{{ bindings.content }}</h2>
        <h3 v-if="bindings.stereotype == 'h3'">{{ bindings.content }}</h3>
        <h4 v-if="bindings.stereotype == 'h4'">{{ bindings.content }}</h4>
        <h5 v-if="bindings.stereotype == 'h5'">{{ bindings.content }}</h5>
        <h6 v-if="bindings.stereotype == 'h6'">{{ bindings.content }}</h6>
    </default-box>
</template>
