.wg.wg-default-gallery .carousel .carousel-inner .item .wg-default-gallery.wg-default-gallery-table {
  display: table;
  width: 100%;
}
.wg.wg-default-gallery .carousel .carousel-inner .item .wg-default-gallery.wg-default-gallery-table .wg-default-gallery.wg-default-gallery-row {
  display: table-row;
}
.wg.wg-default-gallery .carousel .carousel-inner .item .wg-default-gallery.wg-default-gallery-table .wg-default-gallery.wg-default-gallery-row .wg-default-gallery.wg-default-gallery-cell {
  display: table-cell;
}
.wg.wg-default-gallery .carousel .carousel-inner .item .wg-default-gallery.wg-default-gallery-table .wg-default-gallery.wg-default-gallery-row .wg-default-gallery.wg-default-gallery-cell .wg-default-gallery.wg-default-gallery-thumbnail {
  margin-bottom: 0px;
}
