<template id="default-layers-repeater">
    <section class="wg wg-default-layers wg-default-layers-repeater" :style="{
        'display': bindings.display,
        'border': bindings.outer.border,
        'background': bindings.outer.background,
        'margin': bindings.outer.margin,
        'padding': bindings.outer.padding,
        'font-size': bindings.fontSize,
    }">
        <div class="wg wg-content" :style="{
            'height': bindings.height,
            'width': bindings.width,
            'margin': bindings.inner.margin,
            'padding': bindings.inner.padding,
            'border': bindings.inner.border,
            'background': bindings.inner.background,
        }">
            <template v-for="(item, j) in bindings.collection">
                <default-layers-repeater-item v-for="(child, i) in children" :key="child.uuid" :item="item">
                    <shell-widget
                        :stack="stack"
                        :page="page"
                        :model="child"
                        :editable="editable"
                    ></shell-widget>
                </default-layers-repeater-item>
            </template>
            <template v-if="!(bindings.collection && bindings.collection.length) && $route.meta.private">
                <default-layers-repeater-item v-for="(child, i) in children" :key="child.uuid" :disabled="true">
                    <shell-widget
                        :stack="stack"
                        :page="page"
                        :model="child"
                        :editable="editable"
                    ></shell-widget>
                </default-layers-repeater-item>
            </template>
        </div>
    </section>
</template>
