<template id="default-layers-stack">
    <section class="wg wg-default-layers wg-default-layers-stack" :style="{
        'display': bindings.display,
        'border': bindings.outer.border,
        'background': bindings.outer.background,
        'margin': bindings.outer.margin,
        'padding': bindings.outer.padding,
        'font-size': bindings.fontSize,
    }">
        <div class="wg wg-content" :style="{
            'height': bindings.height,
            'width': bindings.width,
            'margin': bindings.inner.margin,
            'padding': bindings.inner.padding,
            'border': bindings.inner.border,
            'background': bindings.inner.background,
        }">
            <template v-for="(child, i) in children">
                <div v-if="!(child.designer && child.designer.hidden)" class="wg wg-item">
                    <div class="wg wg-item-content" :key="child.uuid">
                        <div class="wg wg-inner">
                            <shell-widget
                                :stack="stack"
                                :page="page"
                                :model="child"
                                :editable="editable"
                            ></shell-widget>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </section>
</template>
