.wg.wg-default-frame {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
}
.wg.wg-default-frame > .wg.wg-content {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
}
