<template id="default-nav-horisontal">
    <default-box :bindings.sync="bindings" :class="'wg wg-default-nav wg-default-nav-horisontal', bindings.stereotype">
        <ul class="nav nav-pills wg-default-nav wg-default-nav-horisontal wg-default-nav-horisontal-nav">
            <li v-for="item in bindings.items" role="presentation" :class="{ 'active': item.value == bindings.active }">
                <a v-if="item.vlink" v-link="{ path: item.vlink }" @click="setActive(item.value)">{{{ item.title }}}</a>
                <a v-if="!item.vlink" :href="item.url" @click="setActive(item.value)">{{{ item.title }}}</a>
            </li>
        </ul>
    </default-box>
</template>
