<template id="default-repeater-vertical">
    <section class="wg wg-default-repeater wg-default-repeater-vertical wg-sortable" :style="{
        'display': bindings.display,
        'border': bindings.outer.border,
        'background': bindings.outer.background,
        'background-size': bindings.outer.backgroundSize,
        'margin': bindings.outer.margin,
        'padding': bindings.outer.padding,
        'font-size': bindings.fontSize,
    }">
        <div class="wg wg-content wg-sortable-content" :style="{
            'width': bindings.width,
            'margin': bindings.inner.margin,
            'padding': bindings.inner.padding,
            'border': bindings.inner.border,
            'background': bindings.inner.background,
            'background-size': bindings.inner.backgroundSize,
        }">
            <div class="wg wg-sortable-inner" :style="{
                'border-spacing': bindings.spacing,
                'border-collapse': bindings.collapse,
            }">
                <div class="wg wg-sortable-container"
                    :class="{ 'wg-sortable-editable': editable }"
                    :style="{
                        'height': bindings.height,
                        'justify-content': bindings.justify,
                        'align-items': bindings.alignItems,
                    }"
                >
                    <template v-for="(item, j) in bindings.collection">
                        <default-repeater-item class="wg wg-sortable-item" :item="item" :key="item" v-for="(child, i) in children"
                            :class="{
                                'wg-sortable-draggable': editable,
                                'wg-sortable-stub': child.name == 'default-util/default-util-group/default-stub'
                            }"
                            :style="{ 'flex': ((child.params.flex && child.params.flex.value) ? child.params.flex.value : '0 0 auto') }"
                        >
                            <div class="wg wg-item-content" :key="child.uuid">
                                <div class="wg wg-inner">
                                    <shell-widget
                                        :stack="stack"
                                        :page="page"
                                        :model="child"
                                        :editable="editable && !(i + j)"
                                    ></shell-widget>
                                </div>
                            </div>
                        </default-repeater-item>
                    </template>
                    <template v-if="!(bindings.collection && bindings.collection.length) && $route.meta.private">
                        <default-repeater-item class="wg wg-sortable-item" v-for="(child, i) in children"
                            :class="{
                                'wg-sortable-draggable': editable,
                                'wg-sortable-stub': child.name == 'default-util/default-util-group/default-stub'
                            }"
                            :style="{ 'flex': ((child.params.flex && child.params.flex.value) ? child.params.flex.value : '0 0 auto') }"
                        >
                            <div class="wg wg-item-content wg-disabled" :key="child.uuid">
                                <div class="wg wg-inner">
                                    <shell-widget
                                        :stack="stack"
                                        :page="page"
                                        :model="child"
                                        :editable="editable"
                                    ></shell-widget>
                                </div>
                            </div>
                        </default-repeater-item>
                    </template>
                </div>
            </div>
        </div>
    </section>
</template>
