<template id="default-radio">
    <default-box :bindings.sync="bindings" :class="'wg wg-default-radio'">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" v-for="item in bindings.items" :class="{
                    'btn-default': bindings.stereotype == 'default',
                    'btn-primary': bindings.stereotype == 'primary',
                    'btn-success': bindings.stereotype == 'success',
                    'btn-info': bindings.stereotype == 'info',
                    'btn-warning': bindings.stereotype == 'warning',
                    'btn-danger': bindings.stereotype == 'danger',
                    'btn-link': bindings.stereotype == 'link',
                }"
                :style="{
                    height: bindings.height
                }"
            >
                <input type="radio" :name="bindings.name" :value="item.value" v-model="bindings.model.value"> {{ item.label }}
            </label>
        </div>
    </default-box>
</template>
