.wg.wg-default-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.wg.wg-default-box .wg.wg-content {
  box-sizing: border-box;
  min-height: 15px;
  min-width: 50px;
}
