.wg.wg-default-stub {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.wg.wg-default-stub > .wg.wg-content {
  box-sizing: border-box;
  margin: 1px 1px;
  border: 2px dashed rgba(52, 73, 94, 0.5);
  background: rgba(52, 73, 94, 0.3);
}
.wg.wg-default-stub > .wg.wg-content > .wg.wg-table {
  display: table;
  width: 100%;
}
.wg.wg-default-stub > .wg.wg-content > .wg.wg-table > .wg.wg-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: rgba(52, 73, 94, 0.7);
  font-weight: bold;
  height: 50px;
}
