.wg.wg-default-footer {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.4);
  background-color: #333;
}
.wg.wg-default-footer .wg.wg-content .logo {
  display: block;
  float: left;
  padding-top: 3px;
}
.wg.wg-default-footer .wg.wg-content .copyright {
  display: block;
  float: left;
  margin: 6px 0 0 25px;
}
.wg.wg-default-footer .wg.wg-content .contacts-block .phone-block {
  display: block;
  float: right;
  margin: 6px 0 0 20px;
}
.wg.wg-default-footer .wg.wg-content .contacts-block .social-list {
  display: block;
  float: right;
  vertical-align: top;
  list-style: none;
  padding: 0;
  margin: 3px 0 0 -5px;
}
.wg.wg-default-footer .wg.wg-content .contacts-block .social-list li {
  display: block;
  float: left;
  margin-left: 5px;
}
.wg.wg-default-footer .wg.wg-content .contacts-block .social-list li a {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #999;
  font-size: 16px;
  color: #fff;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
.wg.wg-default-footer .wg.wg-content .contacts-block .social-list li a:hover {
  text-decoration: none;
}
